<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#0b0b4d">
    <title>
      {{ page_title }}
      {%- if current_tags %} – {{ current_tags | join: ', ' }}{% endif -%}
      {%- if current_page != 1 %} – Strona {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} – {{ shop.name }}{% endunless -%}
    </title>
    {{ content_for_header }}
    {{ 'theme.css' | asset_url | stylesheet_tag }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body class="template-{{ template.name | handle }}{% if template.directory %} template-{{ template.directory | handle }}{% endif %}">
    <div class="page-shell">
      {% render 'site-header' %}
      {{ content_for_layout }}
      {% render 'site-footer' %}
    </div>
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  </body>
</html>
